<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "News", 'http://news.modcorp.net/' %></li>
			<li><%= link_to "Forums", 'http://modcorp.net/forums' %></li>
		</ul>
	</nav>
</footer>